<a href="https://colab.research.google.com/github/mfatima1010/Fish_weight_prediction-regression/blob/main/Fish_weight_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
fish = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Fish.csv')

In [ ]:
fish.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [ ]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [ ]:
fish.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [ ]:
fish.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [ ]:
y=fish['Weight']
x=fish[['Category',  'Height', 'Width', 'Length1',
       'Length2', 'Length3']]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.7, random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
model.intercept_

-575.7586437261521

In [ ]:
model.coef_

array([ 32.23127412,  55.09577962,  21.62966986,  77.03170566,
         3.58802961, -59.15912131])

In [ ]:
y_pred = model.predict(x_test)
y_pred

array([ 419.12602876,  202.97696943,  208.75405095,  218.69507433,
        653.67823368,  802.9146768 ,  823.90911115,  446.58153381,
        941.8377313 ,  126.37538765,  301.05997214,  589.77744193,
        915.02916125,  922.90543264,   28.93438746,  116.74740297,
        248.15533183,  957.85215894,  163.41487325,  678.39873943,
         32.84024258,  539.4146887 ,  160.60490618, 1060.18341522,
        102.28960386,  490.08411607,  659.09189832,  408.71572774,
        815.42007348, -100.84311361,  596.52789555,  140.94356669,
        957.85215894,  324.21406832,  583.91389425,  275.52860225,
        433.54963875,  627.58334266,  733.70580533,  150.19888418,
        659.45747101,  -45.46316158,  227.15690288,  686.05794256,
        -10.47029544,  278.90912513,  318.15208462,  369.91510856])

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
mean_absolute_error(y_test,y_pred)

104.29357951497177